body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: :#fff;
}

#left-column{
    width: 60%;
    float: left;
    background-color: aqua;
}


#right-column img{
    width: 230px;
    margin-left: 140px;
    margin-top: 100px;
}

img#logo{
    position: fixed;
    width: 150px;
    bottom: 20px;
    right: 10px;
}